/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-may-2019, 10:52:34
    Author     : jesus
*/
body{
    background-color:#cccccc
      
}
h1{
    color:#000000
}
h3{
    color:#333333
}